# Ignore specific file types
*.png
*.jpg
*.jpeg
*.pdf
*.docx
*.mp4
# Ignore specific folders (لو عندك فولدر للصور المحلية)
uploads/
images/
.env
# Python essentials (مهم جداً عشان متعملش مشاكل)
__pycache__/
*.pyc
venv/
.env

# Node/Next.js essentials
node_modules/
.next/